@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

.title {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    color: #30383d;
    letter-spacing: 1px;
}

.price {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    color: #30383d;
    letter-spacing: 1px;
    display: inline-block;
    margin-right: 10px;
}

.addToCart {
    color: white;
    font-size: 15px;
    letter-spacing: 2px;
    background-color: black;
    margin: 5px 0 15px 0;
    font-weight: bold;
}

.select {
    margin: 5px 0 15px 0;
}

.itemName {
    width: 90%;
    margin: 40px auto;
    background-color: white;
    display: flex;
}

.carouselDiv {
    width: 35%;
    border-right: lightgrey 1px solid;
}

.itemInfoDiv {
    width: 62%;
    margin: 40px 15px 15px 15px;
    background-color: white;
}

.itemInfoCenterDiv {
    margin: 0 auto;
    width: 60%;
}

@media(max-width: 860px){
    .itemName {
        width: 100%;
        margin: 0;
        background-color: white;
        display: block;
    }

    .carouselDiv {
        width: 50%;
        border-right: none;
        margin: 0 auto;
    }

    .itemInfoDiv {
        width: 100%;
        margin: 0;
        background-color: white;
    }

    .itemInfoCenterDiv {
        margin: 0 auto;
        width: 80%;
    }
}